.benefits-grey {
  list-style: none;
  padding: 0;
  background-color: @light-grey;
  margin-top: -20px;
}

.benefits-grey__item {
  background-color: @light-grey;
  padding: 0 25px;
  padding-bottom: 20px;
}

.benefits-grey__name {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @black;
  padding-top: 41px;
  margin-top: 0;
  margin-bottom: 10px;

  &--road {
    padding-top: 27px;
    position: relative;
  }

  &--tourist {
    padding-top: 27px;
    position: relative;
  }
}

.benefits-grey__name--road::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #e6e6e6;
  left: -5px;
  top: 0;
}

.benefits-grey__name--tourist::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #e6e6e6;
  left: -5px;
  top: 0;
}

.benefits-grey__number {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.benefits-grey__text {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  margin-bottom: 4px;
  margin-top: 20px;

  &--road {
    padding: 0 27px;
  }

  &--tourist {
    padding: 0 10px;
  }
}

.benefits-grey__text--road br {
  display: none;
}

@media (min-width: @tablet-width) {
  .benefits-grey {
    display: flex;
    flex-wrap: wrap;
    background-color: @light-grey;
    justify-content: space-between;
    order: 3;
    margin-top: 0;
    padding-top: 44px;
  }

  .benefits-grey__item {
    max-width: 33%;
    padding: 0;
    padding-bottom: 40px;
  }

  .benefits-grey__name {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    padding: 0 50px;
  }

  .benefits-grey__text {
    padding: 0 37px;
    margin-top: 24px;
  }

  .benefits-grey__text--road br {
    display: initial;
  }
}

@media (min-width: @desktop-width) {
  .benefits-grey {
    width: 100%;
    padding-top: 43px;
  }

  .benefits-grey__item {
    padding-bottom: 62px;
  }

  .benefits-grey__name {
    padding: 0 125px;
  }

  .benefits-grey__text--road br {
    display: none;
  }

  .benefits-grey__text--road {
    padding: 0 60px;
  }
}
