.copyright {
  color: @black;
  display: flex;
  justify-content: space-between;
  padding: 0 9px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.copyright__work {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 7px;
  padding-left: 3px;
}

.copyright__icon {
  width: 27px;
  height: 35px;

  &:hover {
    fill: #81b3d2;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
    margin-top: 23px;
    padding-left: 8px;
  }

  .copyright__image {
    padding-left: 12px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    padding-right: 10px;
  }
}
