.hotel {
  text-align: center;
  margin-top: 34px;
}

.hotel__question {
  color: @black;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 21px;
}

.hotel__text {
  font-size: 14px;
  text-transform: uppercase;
  max-width: 290px;
  margin: 0 20px;
  opacity: 0.6;
  line-height: 24px;
  margin-bottom: 27px;
}

.hotel__text br {
  display: none;
}

.hotel__search {
  color: @white;
  display: block;
  width: 280px;
  margin: 0 auto;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  background-color: @blue;
  text-decoration: none;
  padding: 16px 0;
  margin-bottom: 50px;
}

.hotel__map--tablet,
.hotel__map--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .hotel {
    margin-top: 48px;
  }

  .hotel__question {
    font-size: 30px;
    margin-bottom: 28px;
  }

  .hotel__text {
    max-width: 440px;
    margin: 0 auto;
    margin-bottom: 37px;
  }

  .hotel__text br {
    display: initial;
  }

  .hotel__search {
    width: 458px;
    margin-bottom: 58px;
  }

  .hotel__map--tablet {
    display: initial;
  }

  .hotel__map--mobile,
  .hotel__map--desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .hotel__map--desktop {
    display: initial;
  }

  .hotel__map--mobile,
  .hotel__map--tablet {
    display: none;
  }

  .hotel__search {
    width: 458px;
    margin-bottom: 67px;
  }
}
