.hotel {
  text-align: center;
}

.hotel__question {
  color: @black;
  font-size: 21px;
  text-transform: uppercase;
}

.hotel__text {
  font-size: 14px;
  text-transform: uppercase;
}

.hotel__search {
  color: @white;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 45px;
  background-color: @blue;
}
