.impression {
  margin-bottom: 16px;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    min-width: 320px;
    height: 1px;
    background-color: #e6e6e6;
    left: -21px;
    top: 25px;
  }
}

.impression__wrapper {
  margin-bottom: 46px;
  display: flex;
  align-items: center;

  &--last {
    margin-bottom: 28px;
  }
}

.impression__info {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 41px;
}

.impression__text {
  position: absolute;
  appearance: none;
}

.impression__radio {
  position: absolute;
  width: 45px;
  height: 45px;
  border: solid 5px @light-grey;
  border-radius: 50%;
  background-color: @light-grey;
  left: -77px;
  top: -17px;

  &:hover {
    background-color: #e5e5e5;
    border: solid 5px #e5e5e5;
  }

  &:focus {
    background-color: #d5d5d5;
    border: solid 5px #d5d5d5;
  }
}

.impression__text:checked + .impression__radio::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: solid 3px @grey;
  border-radius: 50%;
  background-color: @grey;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.impression__text:checked:focus + .impression__radio::before {
  background-color: #333333;
  opacity: 0.3;
}

.impression__radio:checked:focus + .impression__radio::before {
  background-color: #333333;
  opacity: 0.3;
}

.impression__label {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  margin-left: 76px;
}

@media (min-width: @tablet-width) {
  .impression {
    order: -1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 292px;
      background-color: #e6e6e6;
      right: 0;
      top: 52px;
    }
  }

  .impression__info {
    font-size: 21px;
    padding-right: 9px;
    margin-bottom: 72px;
  }

  .impression__wrapper {
    margin-bottom: 55px;
    padding-left: 28px;

    &--last {
      margin-bottom: 40px;
    }
  }

  .impression__label {
    margin-left: 18px;
  }

  .impression::before {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .impression {
    padding: 0;
    margin-bottom: 44px;
  }

  .impression__label {
    margin-left: 75px;
  }

  .impression__info {
    margin-bottom: 73px;
    margin-top: 30px;
    padding-right: 48px;
  }

  .impression__wrapper {
    align-self: flex-start;
    padding-left: 5px;
  }
}
