.page-main {
  background-color: @white;
  position: relative;
}

.page-main__image {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  display: block;
  height: 385px;
}

.page-main__benefits-heading {
  color: @black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.page-main__benefits-tips {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
