.page-photo {
  background-color: @white;
  position: relative;
}

.page-photo__image {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  height: 160px;
  display: block;
}

.page-photo__image-info {
  position: absolute;
  top: 50px;
  transform: translate(-50%);
  left: 50%;
  z-index: 1;
}

.page-photo__title {
  color: @black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.page-photo__description {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
