.photo-list {
  list-style: none;
  padding-left: 0;
  width: 280px;
  margin: 0 auto;
}

.photo-list__name {
  color: @black;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-top: 8px;
  margin-bottom: 5px;
}

.photo-list__author {
  font-size: 14px;
  opacity: 0.6;
  margin-top: 7px;
  margin-bottom: 12px;
}

.photo-list__wrapper-like {
  display: flex;
  justify-content: space-between;
  width: 92px;
  padding-top: 15px;
}

.photo-list__icon-button {
  background-color: transparent;
  border: none;
  padding-bottom: 12px;
  padding-left: 0;
}

.photo-list__like {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  width: 57px;
  display: block;
  padding-top: 3px;
}

.photo-list__icon-like {
  fill: @black;
  opacity: 0.3;
}

.photo-list__item {
  width: auto;
  margin-bottom: 0;

  &--space {
    margin-bottom: 5px;
  }
}

.photo-list__photo {
  margin-top: 22px;
}

.photo-list__photo--space {
  margin-top: 54px;
}

.photo-list__photo--flower {
  margin-top: 24px;
}

.photo-list__photo--space-tablet,
.photo-list__photo--space-desktop {
  display: none;
}

.photo-list__photo--flower-tablet,
.photo-list__photo--flower-desktop {
  display: none;
}

.photo-list__photo--road-tablet,
.photo-list__photo--road-desktop {
  display: none;
}

.photo-list__photo--devil-bridge-tablet,
.photo-list__photo--devil-bridge-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .photo-list {
    width: 650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
  }

  .photo-list__photo {
    margin-top: 0;
  }

  .photo-list__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    background-color: #f2f2f2;
  }

  .photo-list__wrapper {
    margin-left: 21px;
    margin-bottom: 18px;
  }

  .photo-list__wrapper-like {
    margin-right: 13px;
    width: 69px;
    margin-bottom: 18px;
    padding-top: 20px;
  }

  .photo-list__icon-button {
    padding-bottom: 0;
    padding-right: 8px;
  }

  .photo-list__photo--space,
  .photo-list__photo--space-desktop {
    display: none;
  }

  .photo-list__photo--space-tablet {
    display: block;
    width: auto;
  }

  .photo-list__photo--flower,
  .photo-list__photo--flower-desktop {
    display: none;
  }

  .photo-list__photo--flower-tablet {
    display: block;
    width: auto;
  }

  .photo-list__photo--road,
  .photo-list__photo--road-desktop {
    display: none;
  }

  .photo-list__photo--road-tablet {
    display: block;
    width: auto;
  }

  .photo-list__photo--devil-bridge,
  .photo-list__photo--devil-bridge-desktop {
    display: none;
  }

  .photo-list__photo--devil-bridge-tablet {
    display: block;
    width: auto;
  }

  .photo-list__name {
    margin-top: 18px;
    margin-bottom: 5px;
  }

  .photo-list__item--space {
    margin-bottom: 0;
  }

  .photo-list__item {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-list {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .photo-list__photo--space,
  .photo-list__photo--space-tablet {
    display: none;
  }

  .photo-list__photo--space-desktop {
    display: block;
    width: auto;
  }

  .photo-list__photo--flower,
  .photo-list__photo--flower-tablet {
    display: none;
  }

  .photo-list__photo--flower-desktop {
    display: block;
    width: auto;
  }

  .photo-list__photo--road,
  .photo-list__photo--road-tablet {
    display: none;
  }

  .photo-list__photo--road-desktop {
    display: block;
    width: auto;
  }

  .photo-list__photo--devil-bridge,
  .photo-list__photo--devil-bridge-tablet {
    display: none;
  }

  .photo-list__photo--devil-bridge-desktop {
    display: block;
    width: auto;
  }

  .photo-list__item {
    position: relative;
    margin-bottom: 0;
  }

  .photo-list__info {
    position: absolute;
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo-list__name {
    color: @white;
    margin: 0;
  }

  .photo-list__author {
    color: @white;
    margin: 0;
    padding-top: 7px;
  }

  .photo-list__wrapper-like {
    padding-top: 0;
  }

  .photo-list__like {
    color: @white;
    margin: 0;
    padding-top: 7px;
  }

  .photo-list__icon-like {
    fill: @white;
    opacity: 1;
  }
}
