.site-list {
  background-color: @blue;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  color: @white;
  background-color: @blue;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 80px;
  text-align: center;
  line-height: 2.22;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(225, 225, 225, 0.2);

  &:hover {
    background-color: #669ec0;
  }

  &:focus {
    background-color: #5496bd;
  }
}

.site-list__item-link {
  text-decoration: none;
  color: @white;

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    background-color: @white;
    color: @black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 12px;
    min-height: 45px;
  }

  .site-list__item {
    color: @black;
    background-color: initial;
    font-size: 14px;
    text-align: center;
    border: none;
    padding: 0;
    width: 153px;

    &:hover {
      background-color: @white;
    }

    &:focus {
      background-color: @white;
    }

    &--form {
      margin-left: 156px;
    }
  }

  .site-list__item-link {
    color: @black;

    &:hover {
      color: #81b3d2;
    }

    &:focus {
      opacity: 0.3;
    }

    &--active {
      color: #766357;
    }

    &--active:hover {
      color: #604e43;
    }

    &--active:focus {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    justify-content: space-around;
    min-width: @desktop-width;
  }

  .site-list__item--form {
    margin-left: 245px;
  }
}
