.social {
  background-color: @white;
  margin-top: 34px;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: @blue;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:focus {
    background-color: #5496bd;
  }

  &:focus .social__image {
    opacity: 0.3;
  }
}

.social__image {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 30%;
  fill: @white;

  &--youtube {
    width: 18px;
    height: 15px;
  }

  &--facebook {
    width: 9px;
    height: 19px;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social {
    margin-top: 0;
    min-width: 150px;
  }
}
