.stats {
  background-color: @white;
  list-style: none;
  color: @black;
  padding: 0;
}

.stats__item {
  margin: 0 auto;
  padding: 0;
}

.stats__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.stats__text {
  font-size: 14px;
  text-transform: uppercase;
}
