.video-block__window--mobile {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .video-block {
    position: relative;
  }

  .video-block__player {
    position: absolute;
    left: 62px;
    bottom: -38px;
  }

  .video-block__window--mobile {
    margin: 0 62px;
  }
}

@media (min-width: @desktop-width) {
  .video-block__player {
    left: 197px;
    bottom: 5px;
  }

  .video-block__window--mobile {
    margin: 0 198px;
  }
}
